<footer class="footer bg-dark py-3 mt-auto"> <!-- Friday May 27th, 2022 4:36pm-->
    <div class="container"> <!-- M.T. means mountain top-->
        <span class="text-muted">&copy; Yelp Camp 2020, 2022</span>
    </div>
</footer> 