<% layout('layouts/boilerplate')%>  <!--Tuesday November 29th, 2022 4:50pm-->
<h1>Register</h1>
<form action="/register" method="POST" class="validated-form" novalidate>
 <div class="mb-3"><!-- Margin bottom by three-->
    <label class="form-label" for="username">Username</label>
    <input class="form-control" type="text" id="username" name="username" required>
    <div class="valid-feedback"> <!--Added Tuesday November 29th, 2022 5:09pm-->
        Looks Good!
    </div>
</div>   
<div class="mb-3"><!-- Margin bottom by three-->
    <label class="form-label" for="email">Email</label>
    <input class="form-control" type="email" id="email" name="email" required>
    <div class="valid-feedback"> <!--Added Tuesday November 29th, 2022 5:14pm-->
        Looks Good!
    </div>
</div>   
<div class="mb-3"><!-- Margin bottom by three-->
    <label class="form-label" for="password">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
    <div class="valid-feedback"> <!--Added Tuesday November 29th, 2022 5:15pm-->
        Looks Good!
    </div>
</div>   
<button class="btn btn-success">Register</button>
</form>
